<h1>Eat Da Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col-md-3 offset-md-3">
            {{#each burgers}}
            {{#unless devoured}}
            <p>{{this.burger_name}}</p>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-3">
            {{#each burgers}}
            {{#if devoured}}
            <p>{{this.burger_name}}</p>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form></form>
        </div>
    </div>
</div>