body {
  background: #dae3ea;
}

h1 {
  font-family: "Luckiest Guy", sans-serif;
}

#burger-img {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.whitebg {
  background: #ffffff;
}

.yellowbg {
  background: #fff980;
}
